# üîç Understanding Data set before EDA

In [2]:
# Import all necessery libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.gridspec as gridspec
from scipy import stats
import matplotlib.style as style
import missingno as msno

from scipy.stats import skew
from scipy.special import boxcox1p
from scipy.stats import boxcox_normmax, skew
style.use('fivethirtyeight')

# üìä Importing the data set

In [3]:
dff=pd.read_csv("../Dataset/NigeriaInflationRates.csv")
dff

,Year,Month,Inflation_Rate,Crude Oil Price,Production,Crude Oil Export,CPI_Food,CPI_Energy,CPI_Health,CPI_Transport,CPI_Communication,CPI_Education
0,2008,1,8.60,94.26,2.17,1.72,75.534431,84.612846,83.863139,86.530038,83.129440,75.284466
1,2008,2,8.00,98.15,2.08,1.63,75.154185,85.231632,83.365891,88.355236,82.889814,75.457619
2,2008,3,7.80,103.73,2.06,1.61,78.242523,83.251516,86.082993,84.376304,81.893471,74.826847
3,2008,4,8.20,116.73,1.96,1.51,79.434268,84.348830,89.445332,88.600334,93.937865,73.664248
4,2008,5,9.70,126.57,2.05,1.60,80.783677,85.574027,90.540461,87.932833,97.553285,74.880442
...,...,...,...,...,...,...,...,...,...,...,...,...
193,2024,2,31.70,86.08,1.32,0.87,846.846533,543.893969,494.844568,570.034088,234.228948,469.899712
194,2024,3,33.20,88.80,1.23,0.78,877.472863,558.813016,502.912687,579.821453,234.694654,476.890292
195,2024,4,33.69,93.12,1.28,0.83,899.453386,571.960431,510.095879,592.282753,235.335975,483.719840
196,2024,5,33.95,84.01,1.25,0.80,920.005281,583.894158,517.391784,606.408076,235.850405,490.779792
197,2024,6,34.19,83.64,1.28,0.83,943.458769,596.496022,524.747711,620.966251,236.061986,498.242239

# üß† Understanding The Dataset

This is done to better under the dataset itself just to get a scope of the data I'm working with.

In [4]:
dff.shape

(198, 12)

In [5]:
dff.head()

,Year,Month,Inflation_Rate,Crude Oil Price,Production,Crude Oil Export,CPI_Food,CPI_Energy,CPI_Health,CPI_Transport,CPI_Communication,CPI_Education
0,2008,1,8.6,94.26,2.17,1.72,75.534431,84.612846,83.863139,86.530038,83.129440,75.284466
1,2008,2,8.0,98.15,2.08,1.63,75.154185,85.231632,83.365891,88.355236,82.889814,75.457619
2,2008,3,7.8,103.73,2.06,1.61,78.242523,83.251516,86.082993,84.376304,81.893471,74.826847
3,2008,4,8.2,116.73,1.96,1.51,79.434268,84.348830,89.445332,88.600334,93.937865,73.664248
4,2008,5,9.7,126.57,2.05,1.60,80.783677,85.574027,90.540461,87.932833,97.553285,74.880442

In [6]:
dff.tail()

,Year,Month,Inflation_Rate,Crude Oil Price,Production,Crude Oil Export,CPI_Food,CPI_Energy,CPI_Health,CPI_Transport,CPI_Communication,CPI_Education
193,2024,2,31.70,86.08,1.32,0.87,846.846533,543.893969,494.844568,570.034088,234.228948,469.899712
194,2024,3,33.20,88.80,1.23,0.78,877.472863,558.813016,502.912687,579.821453,234.694654,476.890292
195,2024,4,33.69,93.12,1.28,0.83,899.453386,571.960431,510.095879,592.282753,235.335975,483.719840
196,2024,5,33.95,84.01,1.25,0.80,920.005281,583.894158,517.391784,606.408076,235.850405,490.779792
197,2024,6,34.19,83.64,1.28,0.83,943.458769,596.496022,524.747711,620.966251,236.061986,498.242239

I can tell the data ranges from 2008-2024 which should me more than sufficient to help us achieve our objectives

In [7]:
dff.columns

Index(['Year', 'Month', 'Inflation_Rate', 'Crude Oil Price', 'Production',
       'Crude Oil Export', 'CPI_Food', 'CPI_Energy', 'CPI_Health',
       'CPI_Transport', 'CPI_Communication', 'CPI_Education'],
      dtype='object')

In [8]:
dff.dtypes

Year                   int64
Month                  int64
Inflation_Rate       float64
Crude Oil Price      float64
Production           float64
Crude Oil Export     float64
CPI_Food             float64
CPI_Energy           float64
CPI_Health           float64
CPI_Transport        float64
CPI_Communication    float64
CPI_Education        float64
dtype: object

In [9]:
# Determining agregated values for numerical variables in the data set
dff.describe()

,Year,Month,Inflation_Rate,Crude Oil Price,Production,Crude Oil Export,CPI_Food,CPI_Energy,CPI_Health,CPI_Transport,CPI_Communication,CPI_Education
count,198.000000,198.000000,198.000000,197.000000,197.000000,197.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000
mean,2015.757576,6.409091,14.068232,79.886599,1.921015,1.471015,276.715714,234.199688,208.020379,228.683823,144.088741,206.733061
std,4.779591,3.459603,5.456106,26.586380,0.412341,0.412341,200.000754,122.478906,107.971671,130.467048,42.279734,108.070293
min,2008.000000,1.000000,7.700000,14.280000,0.940000,0.490000,75.154185,83.251516,83.365891,84.376304,81.893471,73.664248
25%,2012.000000,3.000000,10.625000,58.460000,1.650000,1.200000,129.971845,133.807834,124.538660,130.159867,109.843668,117.544356
50%,2016.000000,6.000000,12.735000,77.540000,2.040000,1.590000,196.133375,206.319517,171.976085,186.001890,131.918626,170.853864
75%,2020.000000,9.000000,16.040000,106.000000,2.210000,1.760000,357.349555,303.127288,258.450157,290.534903,169.037119,268.782500
max,2024.000000,12.000000,34.190000,138.740000,2.880000,2.430000,943.458769,596.496022,524.747711,620.966251,236.061986,498.242239

# üí° Data Preparation

I need to modify the data a little bit so if won't affect my analysis later when need

### Data Representation

 *I need the work on the "Month" column and change the from being represented with number to actual months of the year, that way it will have better understanding when we are using the column for analysis"

In [10]:
month_mapping = {
    1: 'Jan',
    2: 'Feb',
    3: 'Mar',
    4: 'Apr',
    5: 'May',
    6: 'Jun',
    7: 'Jul',
    8: 'Aug',
    9: 'Sep',
    10: 'Oct',
    11: 'Nov',
    12: 'Dec'
}

In [11]:
dff['Month'] = pd.to_numeric(dff['Month'], errors='coerce')
dff=dff[dff['Month'].between(1, 12)]  # filter out invalid months
dff['Month'] = dff['Month'].astype(int).map(month_mapping)
dff

,Year,Month,Inflation_Rate,Crude Oil Price,Production,Crude Oil Export,CPI_Food,CPI_Energy,CPI_Health,CPI_Transport,CPI_Communication,CPI_Education
0,2008,Jan,8.60,94.26,2.17,1.72,75.534431,84.612846,83.863139,86.530038,83.129440,75.284466
1,2008,Feb,8.00,98.15,2.08,1.63,75.154185,85.231632,83.365891,88.355236,82.889814,75.457619
2,2008,Mar,7.80,103.73,2.06,1.61,78.242523,83.251516,86.082993,84.376304,81.893471,74.826847
3,2008,Apr,8.20,116.73,1.96,1.51,79.434268,84.348830,89.445332,88.600334,93.937865,73.664248
4,2008,May,9.70,126.57,2.05,1.60,80.783677,85.574027,90.540461,87.932833,97.553285,74.880442
...,...,...,...,...,...,...,...,...,...,...,...,...
193,2024,Feb,31.70,86.08,1.32,0.87,846.846533,543.893969,494.844568,570.034088,234.228948,469.899712
194,2024,Mar,33.20,88.80,1.23,0.78,877.472863,558.813016,502.912687,579.821453,234.694654,476.890292
195,2024,Apr,33.69,93.12,1.28,0.83,899.453386,571.960431,510.095879,592.282753,235.335975,483.719840
196,2024,May,33.95,84.01,1.25,0.80,920.005281,583.894158,517.391784,606.408076,235.850405,490.779792
197,2024,Jun,34.19,83.64,1.28,0.83,943.458769,596.496022,524.747711,620.966251,236.061986,498.242239

### üîç Checking for missing values

 *Checking for null values I prefer to treat this before hand as missing value could create gap and bias during analysis

In [12]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               198 non-null    int64
 1   Month              198 non-null    object
 2   Inflation_Rate     198 non-null    float64
 3   Crude Oil Price    197 non-null    float64
 4   Production         197 non-null    float64
 5   Crude Oil Export   197 non-null    float64
 6   CPI_Food           198 non-null    float64
 7   CPI_Energy         198 non-null    float64
 8   CPI_Health         198 non-null    float64
 9   CPI_Transport      198 non-null    float64
 10  CPI_Communication  198 non-null    float64
 11  CPI_Education      198 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 18.7+ KB

### üîç Checking for Duplicates

*Even when there are no nulls I still want to check for duplicates row which can also skew analysis

In [13]:
duplicate_rows = dff[dff.duplicated()]
print(f"Duplicate rows: {len(duplicate_rows)}")

Duplicate rows: 0

In [14]:
## exporting my clean dataframe so I can use it elsewhere
dff.to_csv("cleaned_dataset.csv", index=False)